<launch>

  <rosparam param="serial_switch">True</rosparam>

  <node pkg="car_serial_onserver" type="tcp_to_pose.py" name="tcp_to_pose" output="screen">
  
  </node>

  <node pkg="car_serial_onserver" type="pose_to_control.py" name="pose_to_control" output="screen">
  
  </node>

  <node pkg="car_serial_onserver" type="control_to_serial.py" name="control_to_serial" output="screen">

  </node>

</launch>
